:root {
	--sans: Lato, "Segoe UI", "Helvetica Neue", Helvetica, system-ui, sans-serif;
	--heading: Lato, "Segoe UI", "Helvetica Neue", Helvetica, system-ui, sans-serif;
	font-family: var(--sans);
	font-size: 16px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

#root {
	width: 1126px;
	max-width: 100%;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
